<div class="mx-5 my-5">
  <div class="text-[32px]">Budget Builder Example</div>

  <div>
    <div class="flex flex-col">
      <label class="text-[24px] text-blue-500">Choose start time</label>
      <input type="month" (change)="changeStartMonth('starttime', $event)" />
    </div>
    <div class="flex flex-col">
      <label class="text-[24px] text-blue-500">Choose end time</label>
      <input type="month" (change)="changeStartMonth('endtime', $event)" />
    </div>
  </div>

  <div>
    <table class="border-collapse border border-slate-500 w-[60%]">
      <thead>
        <tr>
          <th class="border border-slate-600 px-2 py-3">
            Start Period V End Period V
          </th>
          <th
            *ngFor="let monthLabel of numberMonth"
            class="border border-slate-600 px-2 py-3"
          >
            {{ monthLabel }}
          </th>
          <th class="border border-slate-600 px-2 py-3">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border border-slate-700 px-2 py-3 font-[700]" colspan="3">
            {{ incomeObj.label }}
          </td>
        </tr>
      </tbody>
      <tbody
        *ngFor="
          let pc of incomeObj.parentCategories;
          index as indexParentCategory
        "
      >
        <tr>
          <td class="border border-slate-700 px-2 py-3 font-[600]">
            <input
              [id]="pc.id"
              type="text"
              class="outline-none w-full"
              [(ngModel)]="pc.label"
              (keyup.arrowup)="MoveArrowParentCategory(indexParentCategory, 'up', 'income')"
            />
          </td>
          <td
            *ngFor="let m of pc.data"
            class="border border-slate-700 px-2 py-3"
          >
            <input
              [id]="m.id"
              type="number"
              class="outline-none w-full"
              [(ngModel)]="m.value"
              (contextmenu)="
                openApplyAllParentCategory($event, m.value, pc.id, 'income')
              "
            />
          </td>
          <td class="border border-slate-700 px-2 py-3">
            <button
              class="px-4 py-2 bg-red-500 mx-auto text-white cursor-pointer hover:bg-blue-500"
              (click)="deleteParentCategory(pc.id, 'income')"
            >
              Delete Row
            </button>
          </td>
        </tr>
        <tr *ngFor="let c of pc.categories">
          <td class="border border-slate-700 px-2 py-3">
            <input
              [id]="c.id"
              type="text"
              class="outline-none w-full"
              [(ngModel)]="c.label"
            />
          </td>
          <td
            *ngFor="let mc of c.data; index as mcIndex"
            class="border border-slate-700 px-2 py-3"
          >
            <input
              [id]="mc.id"
              type="number"
              class="outline-none w-full"
              [(ngModel)]="mc.value"
              (contextmenu)="
                openApplyAllCategory($event, mc.value, pc.id, c.id, 'income')
              "
            />
          </td>
          <td class="border border-slate-700 px-2 py-3">
            <button
              class="px-4 py-2 bg-red-500 mx-auto text-white cursor-pointer hover:bg-blue-500"
              (click)="deleteCategory(c.id, pc.id, 'income')"
            >
              Delete Row
            </button>
          </td>
        </tr>
        <tr>
          <td class="border border-slate-700 px-2 py-3">
            <input
              type="text"
              class="outline-none w-full break-words"
              placeholder="Add a new {{ pc.label }} Category"
              (keyup.enter)="addNewCategory(pc.id, $event, 'income')"
            />
          </td>
          <td
            *ngFor="let n of numberMonth"
            class="border border-slate-700 px-2 py-3"
          >
            <input type="number" class="outline-none w-full" />
          </td>
        </tr>
        <tr>
          <td class="border border-slate-700 px-2 py-3">Sub Total</td>
          <td
            *ngFor="let n of numberMonth; index as indexMonth"
            class="border border-slate-700 px-2 py-3"
          >
            {{ calculateSubTotal(indexMonth, indexParentCategory, "income") }}
          </td>
        </tr>
        <tr>
          <td class="border border-slate-700 px-2 py-3" colspan="3">&nbsp;</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td class="border border-slate-700 px-2 py-3 font-[600]">
            <input
              type="text"
              class="outline-none w-full"
              placeholder="Add New Parent Category"
              (keyup.enter)="addNewParentCategory($event, 'income')"
            />
          </td>
          <td
            *ngFor="let n of numberMonth"
            class="border border-slate-700 px-2 py-3"
          >
            <input type="number" class="outline-none w-full" />
          </td>
        </tr>
        <tr>
          <td class="border border-slate-700 px-2 py-3 font-[600]">
            Income Total
          </td>
          <td
            *ngFor="let n of numberMonth; index as idm"
            class="border border-slate-700 px-2 py-3 font-[700]"
          >
            {{ calculateTotal(idm, "income") }}
          </td>
        </tr>
        <tr>
          <td class="border border-slate-700 px-2 py-3 font-[600]" colspan="2">
            &nbsp;
          </td>
        </tr>
      </tbody>

      <!-- expenses -->
      <tbody>
        <tr>
          <td class="border border-slate-700 px-2 py-3 font-[700]" colspan="3">
            {{ expensesObj.label }}
          </td>
        </tr>
      </tbody>
      <tbody
        *ngFor="
          let pc of expensesObj.parentCategories;
          index as indexParentCategory
        "
      >
        <tr>
          <td class="border border-slate-700 px-2 py-3 font-[600]">
            <input
              [id]="pc.id"
              type="text"
              class="outline-none w-full"
              [(ngModel)]="pc.label"
            />
          </td>
          <td
            *ngFor="let m of pc.data"
            class="border border-slate-700 px-2 py-3"
          >
            <input
              [id]="m.id"
              type="number"
              class="outline-none w-full"
              [(ngModel)]="m.value"
              (contextmenu)="
                openApplyAllParentCategory($event, m.value, pc.id, 'expenses')
              "
            />
          </td>
          <td class="border border-slate-700 px-2 py-3">
            <button
              class="px-4 py-2 bg-red-500 mx-auto text-white cursor-pointer hover:bg-blue-500"
              (click)="deleteParentCategory(pc.id, 'expenses')"
            >
              Delete Row
            </button>
          </td>
        </tr>
        <tr *ngFor="let c of pc.categories">
          <td class="border border-slate-700 px-2 py-3">
            <input
              [id]="c.id"
              type="text"
              class="outline-none w-full"
              [(ngModel)]="c.label"
            />
          </td>
          <td
            *ngFor="let mc of c.data; index as mcIndex"
            class="border border-slate-700 px-2 py-3"
          >
            <input
              type="number"
              [id]="mc.id"
              class="outline-none w-full"
              [(ngModel)]="mc.value"
              (contextmenu)="
                openApplyAllCategory($event, mc.value, c.id, pc.id, 'expenses')
              "
            />
          </td>
          <td class="border border-slate-700 px-2 py-3">
            <button
              class="px-4 py-2 bg-red-500 mx-auto text-white cursor-pointer hover:bg-blue-500"
              (click)="deleteCategory(c.id, pc.id, 'expenses')"
            >
              Delete Row
            </button>
          </td>
        </tr>
        <tr>
          <td class="border border-slate-700 px-2 py-3">
            <input
              type="text"
              class="outline-none w-full break-words"
              placeholder="Add a new {{ pc.label }} Category"
              (keyup.enter)="addNewCategory(pc.id, $event, 'expenses')"
            />
          </td>
          <td
            *ngFor="let n of numberMonth"
            class="border border-slate-700 px-2 py-3"
          >
            <input type="number" class="outline-none w-full" />
          </td>
        </tr>
        <tr>
          <td class="border border-slate-700 px-2 py-3">Sub Total</td>
          <td
            *ngFor="let n of numberMonth; index as indexMonth"
            class="border border-slate-700 px-2 py-3"
          >
            {{ calculateSubTotal(indexMonth, indexParentCategory, "expenses") }}
          </td>
        </tr>
        <tr>
          <td class="border border-slate-700 px-2 py-3" colspan="3">&nbsp;</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td class="border border-slate-700 px-2 py-3 font-[600]">
            <input
              type="text"
              class="outline-none w-full"
              placeholder="Add New Parent Category"
              (keyup.enter)="addNewParentCategory($event, 'expenses')"
            />
          </td>
          <td
            *ngFor="let n of numberMonth"
            class="border border-slate-700 px-2 py-3"
          >
            <input type="number" class="outline-none w-full" />
          </td>
        </tr>
        <tr>
          <td class="border border-slate-700 px-2 py-3 font-[600]">
            Expenses Total
          </td>
          <td
            *ngFor="let n of numberMonth; index as idm"
            class="border border-slate-700 px-2 py-3 font-[700]"
          >
            {{ calculateTotal(idm, "expenses") }}
          </td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td class="border border-slate-700 px-2 py-3">Profit / Loss</td>
          <td
            *ngFor="let n of numberMonth; index as idm"
            class="border border-slate-700 px-2 py-3"
          >
            {{
              calculateTotal(idm, "income") - calculateTotal(idm, "expenses")
            }}
          </td>
        </tr>
        <tr>
          <td class="border border-slate-700 px-2 py-3">Opening Balance</td>
          <td
            *ngFor="let n of numberMonth; index as idm"
            class="border border-slate-700 px-2 py-3"
          >
            {{ calculateOpeningBalance(idm) }}
          </td>
        </tr>
        <tr>
          <td class="border border-slate-700 px-2 py-3">Closing Balance</td>
          <td
            *ngFor="let n of numberMonth; index as idm"
            class="border border-slate-700 px-2 py-3"
          >
            {{ calculateClosingBalance(idm) }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
